.menus {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

.card-menu {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 15px;
	box-shadow: -1px 9px 9px 4px rgba(99, 99, 99, 0.75);
}

.card-menu-img {
	/* height: 300px; */
}
.card-menu-img img {
	width: 100%;
}

.card-menu-body {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.card-menu-body .title {
	font-size: 20px;
	font-weight: bold;
}
.card-menu-body .description {
	font-size: 16px;
}
.card-menu-body .price {
	font-size: 18px;
}
.card-menu-body .promo-price {
	font-size: 18px;
}
.card-menu-body .promo-price .real-price {
	text-decoration: line-through;
}
.card-menu-body .promo-price .discount-price {
	font-weight: 600;
}

.card-menu-footer {
	padding: 15px;
	text-align: center;
}
.card-menu-footer a {
	font-size: 18px;
	text-decoration: none;
	color: white;
	background: #FF0000;
	padding: 8px 24px;
	border-radius: 20px;
}
.card-menu-footer a:hover {
	background: #750101;
}

@media screen and (min-width: 480px) {
	.card-menu {
		width: 50%;
	}
}
@media screen and (min-width: 768px) {
	.card-menu {
		width: 30%;
	}
}