@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@1,100&display=swap');

:root{
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --red: #FF0000;
}

*
{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--box-shadow);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--red);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a:hover{
    color: #fff;
    background: var(--red);
}

header .icon i,
header .icon a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;

}

header .icon i:hover
header .icon a:hover{
    color:#fff;
    background: var(--red);
    transform: rotate(300deg);
}

header .icon #menu-bars{
    display: none;
}

main {
	margin-top: 52px;
	min-height: 90vh;
}

.container {
	margin: auto;
	width: 92%;
}

.footer {
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 1px -2px 9px 4px rgba(0, 0, 0, .1);
}

.left-footer {
	font-size: 16px;
}
.right-footer {
	font-size: 20px;
}
.right-footer a {
	color: black;
	margin: 10px;
}

.sub-title-wrapper {
	margin: 10px auto;
	padding-top: 20px;
	text-align: center;
}
.sub-title {
	font-size: 38px;
}

.banner {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	background: url(../asset/img/ramen3.jpg);
	background-size: cover;
}

.banner .banner-title {
	font-size: 64px;
	text-align: center;
	align-self: center;
	color: white;
}

.carousel {
	max-width: 1200px;
	margin: auto;
	padding: 0 30px;
}

.carousel .card {
	color: #fff;
	text-align: center;
	margin: 20px 0;
	/* line-height: 250px; */
	/* font-size: 90px;
  font-weight: 600; */
	border-radius: 8%;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.card img {
	width: 500px;
	height: 500px;
	border-radius: 8%;
}
.owl-dots {
	text-align: center;
	padding: 20px;
}

.owl-dot {
	height: 10px;
	width: 25px;
	margin: 0 5px;
	outline: none;
	border-radius: 14px;
	border: 2px solid gray !important;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
	background: black !important;
}

/* About Us */
.about-us {}
.content {
	font-size: 18px;
	width: 60%;
	margin: 10px auto;
}

#search-form {
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-form.active{
    top:0;
}
#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
    
}
#search-form #search-box::-webkit-file-upload-button{
    -webkit-appearance: none;
    
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--red);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;

}


/* media queries */
@media screen and (min-width: 480px) {
	.footer {
			flex-direction: row;
		}
}
@media screen and (min-width: 991px) {
	main {
			margin-top: 65px;
		}
}
@media (max-width: 991px){
    html {
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
}

@media (max-width:768px){

    header .icon #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.2);
        border-bottom: 1px solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    #search-from #search-box{
        width: 90%;
        margin: 0 1rem;
    }
}

@media (max-width: 991px){
    html {
        font-size: 50%;
    }


}